@mixin centerHorizontal {
  display: flex;
  justify-content: center;
}

@mixin centerVertical {
  display: flex;
  align-items: center;
}

@mixin spaceBetween($dir) {
  display: flex;
  justify-content: space-between;
  flex-direction: $dir;
}

@mixin dropDownShadow {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

@mixin noScrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
