@use "_helper";

.menu {
  @include helper.spaceBetween(column);

  height: 100%;

  background-color: #12486b;
  opacity: 85%;

  .logo {
    @include helper.centerHorizontal;
    margin-top: 30px;
  }
}

.menu :is(.tabs, .support) {
  div {
    @include helper.centerHorizontal;
    margin-top: 10px;
  }

  svg {
    @include helper.dropDownShadow;
  }
}

.menu .tabs {
  @include helper.spaceBetween(column);
  height: 35%;
  margin-bottom: 100px;
}

.menu .support {
  @include helper.centerHorizontal;
  margin: 10px 0 70px;
}
