@use "_helper";

.file-upload-page{
    overflow: hidden;
    color: helper.$subTextColor;
    background-color: helper.$backgroundColor;
    padding: 40px;

    .file-list {
        overflow: hidden;
    }

    h3 {
        margin-bottom: 20px;
    }
}