@use "_helper";

$backgroundColor: #eaf1f2;
$subTextColor: #4b4f5d;
$importantTextColor: #12486b;

.peer-page{
    // overflow: hidden;
    color: $subTextColor;
    background-color: $backgroundColor;
    padding: 40px;

    width: 100%;
    height: 100%;

    @include helper.noScrollbar;

    // .map-container{
    //     @include helper.centerHorizontal;
    //     margin-top: 50px;
    //     margin-bottom: 50px;
    // }

    .peer-list {
        overflow: hidden;
    }
}