.time-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 201px;
  height: 40px;
  margin-bottom: 10px;
}
.time-bar-left {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 20px 0 0 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.time-bar-right {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.time-text {
  font-size: 14px;
  color: #4b4f5d;
  font-family: "Kanit", sans-serif;
  margin-left: 10px;
}

.time-text-date {
  font-size: 14px;
  color: #4b4f5d;
  font-family: "Kanit", sans-serif;
}

.time-content {
  display: flex;
  align-items: center;
}
